

body {
    margin:0;
    background-color:white;
  font-size: 16px;
    font-family: Helvetica, sans-serif;

}



.container {
    display: flex;
    flex-direction: column;


}

nav {
   
    background-color:white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 140%;
    border: solid black 2px;
    border-top: 0px;
    border-bottom: 1px;

}

main {
    border: solid black 2px;
    height: 100%;
}
.landing-page__title {
    height: 100vh;
    
    background-image: url("img/summer.jpg");
    background-size: cover;
    opacity: 0.8;
}
.landing-page__title--main {
    font-size: 4rem;
    text-align: center;
    margin: 0;
    font-weight: 800;
    padding-top: 5vh;
    color: white;
    opacity: 1;
}

.landing-page__title--second {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    
    color: #006CB4;
    opacity: 1;
}
.word-list {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;


     

}

.head-title {
    color: #FFDE00;
    background-color:#DE2910;
    border: 2px solid black;
    
}
.main-header {
    background-color: lightskyblue;
    color: white;
}

.nav-item a {
    color: #FFDE00;
   
    padding-left: 15px;
}

/* main {
    width: 100vw;
    font-size: 120%;
    
} */

.main-panel {
    display: flex;
    flex-direction: column;
    flex: 0 0 120px;
    border: solid black 2px;
    margin: 5px;
    font-size: 1.2rem;  
    padding-bottom: 2px;  


}

.main-panel:hover .main-item__nl  {
    opacity: 1;
}

.main-panel:hover .main-item__eng  {
    opacity: 1;
}

.main-item {
    text-align: center;
    transition: opacity 0.5s;
    /* flex: 2 1 26vw; */
}

.main-item__day {
    border-bottom: black 2px solid;
    color: #FFDE00;
    background-color:#DE2910;

}
.main-item__chinese {
    opacity: 1;
}

.main-item__nl {
    opacity: 0;
}

.main-item__eng {
    opacity: 0;
}



img {
    width: 100vw;
}

.hide {
    display: none;
}

@media only screen and (max-width: 800px){
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}
 .main-panel{
     flex: 1 1 20vw;
     font-size: 1.5rem;
 }
}

@media only screen and (max-width: 600px){
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}
 .main-panel{
     flex: 1 1 45vw;
     font-size: 2rem;
 }
}

@media only screen and (max-width: 400px){
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}
 .main-panel{
     flex: 1 1 100vw;
     font-size: 2rem;
 }
}








